<h1>{{ film.titre }}</h1>

<span>Réalisé par {{ film.realisateur }}</span>

<p>{{ film.synopsis }}</p>

<span>Date de Parution : {{ film.dateParution|date("m/d/Y") }}</span>


<p><a href="../films">Retour</a></p>

